<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E2D - Text encryptor</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <section class="bg-white">
        <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
            <section class="relative flex h-32 bg-gray-900 lg:col-span-5 lg:h-full">
                <img src="../static/lock.webp"
                    class="absolute inset-0 h-full w-full object-cover opacity-80 lg:object-bottom" />

                <div class="hidden lg:relative lg:block lg:p-12">
                    <a class="block text-white w-10">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17l0 80c0 13.3 10.7 24 24 24l80 0c13.3 0 24-10.7 24-24l0-40 40 0c13.3 0 24-10.7 24-24l0-40 40 0c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z" fill="currentColor"/></svg>
                    </a>

                    <h2 class="mt-6 text-2xl font-bold text-white sm:text-3xl md:text-4xl">TextLock</h2>

                    <p class="mt-4 leading-relaxed text-white/90">
                        Lock your text away with TextLock! This intuitive app encrypts your messages, ensuring that only
                        those you trust can read them. With advanced encryption algorithms, easy to use, hard to crack,
                        your secrets stay safe from prying eyes.
                    </p>
                </div>
            </section>

            <main
                class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6">
                <div class="max-w-xl lg:max-w-3xl">
                    <div class="relative -mt-16 block lg:hidden">
                        <a class="inline-flex size-16 items-center justify-center rounded-full bg-white text-black p-4 sm:size-20">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17l0 80c0 13.3 10.7 24 24 24l80 0c13.3 0 24-10.7 24-24l0-40 40 0c13.3 0 24-10.7 24-24l0-40 40 0c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z" fill="currentColor"/></svg>
                        </a>

                        <h1 class="mt-2 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">TextLock</h1>

                        <p class="mt-4 leading-relaxed text-gray-500">Lock your text away with TextLock! This intuitive
                            app encrypts your messages, ensuring that only those you trust can read them. Your secrets
                            stay safe from prying eyes.</p>
                    </div>

                    <section class="mt-8">
                        <div class="container mx-auto mb-6  md:mb-12 grid md:flex">
                            <input class="input-btn cursor-not-allowed" type="radio" id="encryptToggle" name="e2d-radio" checked>
                            <label class="neon-btn" for="encryptToggle">
                                <span class="span"></span>
                                <span class="txt uppercase">Encrypt</span>
                            </label>

                            <input class="input-btn" type="radio" id="decryptToggle" name="e2d-radio">
                            <label class="neon-btn" for="decryptToggle">
                                <span class="span"></span>
                                <span class="txt uppercase">Decrypt</span>
                            </label>
                        </div>
                        <!-- Encryptor -->
                        <form id="encryptForm" onsubmit="submitForm(event)" class="overflow-hidden rounded-lg border border-gray-200 shadow-sm">
                            <textarea id="encryptInput" name="plainText"
                                class="w-full resize-none border-none align-top pl-2 pt-1 focus:ring-0 sm:text-sm focus:outline-none"
                                rows="15" placeholder="Enter text to encrypt"></textarea>

                            <div class="flex items-center justify-end gap-2 bg-white p-3">
                                <button onclick="encryptInput.value = ''" type="button"
                                    class="rounded bg-gray-200 px-3 py-1.5 text-sm font-medium text-gray-700 hover:scale-105">
                                    Clear
                                </button>

                                <button type="submit" id="encryptBtn" class="rounded bg-black px-3 py-1.5 text-sm font-medium text-white hover:scale-105">
                                    Encrypt
                                </button>
                            </div>
                        </form>
                        <!-- Decryptor -->
                        <form id="decryptForm" onsubmit="submitForm(event)" class="hidden">

                            <!-- TEXT -->
                            <label for="decryptor"
                                class="relative block rounded-md border border-gray-200 shadow-sm mb-3">
                                <textarea id="decryptor" name="encryptedText" class="peer border-none w-full bg-transparent placeholder-transparent focus:border-transparent pt-3 px-2 focus:outline-none focus:ring-0" placeholder="Encrypted Text"></textarea>

                                <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">Encrypted Text</span>
                            </label>

                            <!-- KEY -->
                            <label for="decryptKey"
                                class="relative block rounded-md border border-gray-200 shadow-sm ">
                                <input type="text" name="key" id="decryptKey"
                                    class="peer border-none w-full bg-transparent placeholder-transparent focus:border-transparent py-3 px-2 focus:outline-none focus:ring-0" placeholder="Secret Key"/>

                                <span
                                    class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                                    Secret Key
                                </span>
                            </label>
                            <div class="flex items-center justify-end gap-2 bg-white p-3">
                                <button onclick="decryptKey.value = ''; decryptor.value = ''" type="button"
                                    class="rounded bg-gray-200 px-3 py-1.5 text-sm font-medium text-gray-700 hover:scale-105">
                                    Reset
                                </button>

                                <button type="submit" id="decryptBtn" class="rounded bg-black px-3 py-1.5 text-sm font-medium text-white hover:scale-105">
                                    Decrypt
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
            </main>
        </div>
    </section>
    <script src="../static/script.js"></script>
</body>

</html>