<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E2D - Text encryptor</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="container mx-auto">
        <input class="input-btn" type="radio" id="encrypt" name="e2d-radio" checked>
        <label class="neon-btn" for="encrypt">
            <span class="span"></span>
            <span class="txt uppercase">Encrypt</span>
        </label>

        <input class="input-btn" type="radio" id="decrypt" name="e2d-radio" value="decrypt">
        <label class="neon-btn" for="decrypt">
            <span class="span"></span>
            <span class="txt uppercase">Decrypt</span>
        </label>
    </div>
    <!-- ENCRYPTOR -->
    <div class="w-[90%] mx-auto">
        <div>
            <div class="overflow-hidden">
                <textarea id="OrderNotes" class="w-full resize-none border-x-0 border-t-0 border-gray-200 px-0 align-top sm:text-sm" rows="4" placeholder="Enter text to encrypt..."></textarea>
                <div class="flex items-center justify-end gap-2 py-3">
                    <button type="button" class="rounded bg-gray-200 px-3 py-1.5 text-sm font-medium text-gray-700 hover:text-gray-600">Clear</button>
                    <button type="button" class="rounded bg-indigo-600 px-3 py-1.5 text-sm font-medium text-white hover:bg-indigo-700">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- DECRYPTOR -->
</body>

</html>